## 📦 requirements.txt

flask            # (min. ver 2.2.5)
pandas           # (min. ver 1.3.0)
numpy            # (min. ver 1.21.0)
scikit-learn     # (min. ver 1.0.0)
nltk             # (min. ver 3.6.0)
matplotlib       # (min. ver 3.4.0)
seaborn          # (min. ver 0.11.0)
plotly           # (min. ver 5.1.0)

